.git
.venv*
.runtime
.artifacts
**/__pycache__
**/node_modules
**/.next
**/cdk.out
.env*
**/.env*
.databrickscfg
**/.databricks
**/.databrickscfg
.aws
**/.aws
**/*.pem
**/*.key
evals/results
docs
tests
*.log
